<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div class="container">
    <div class="form-group">
      <div class="form-group-item">
        <label for="userName">Username</label>
        <input
          type="text"
          name="userName"
          class="form-control"
          [ngClass]="{
            'is-invalid': userName.errors && userName.touched
          }"
          #userName="ngModel"
          [(ngModel)]="aplcnt.userName"
          appForbiddenName="JohnDoe"
          required
          minlength="4"
        />
        <div *ngIf="userName.errors?.required" class="invalid-feedback">
          Please choose a username.
        </div>
        <div *ngIf="userName.errors?.minlength" class="invalid-feedback">
          Please choose the name with at least 4 characters
        </div>
        <div *ngIf="userName.errors?.forbiddenName">
          Oh, C'mon, be more creative!!!
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-group-item">
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          [(ngModel)]="aplcnt.email"
          class="form-control"
          #email="ngModel"
          [ngClass]="{
            'is-invalid': email.errors && email.touched
          }"
          required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        />
        <div *ngIf="email.errors?.pattern" class="invalid-feedback">
          Invalid Email
        </div>
      </div>

    </div>

    <button
      class="btn btn-secondary"
      [ngClass]="{ 'disabled': !userForm.form.valid }"
    >
      Submit form
    </button>
  </div>
</form>
