<div class="container">
  <div class="card mb-3" style="max-width: 450px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="applicants-card-image">
          <img
            class="applicants-card-image"
            src="../../../assets/images/people2.jpg"
          />
        </div>
        <ul class="applicants-sex-and-age">
          <li>
            სქესი :
            <i class="fa fa-female fa-2x icon-blue" aria-hidden="true"></i>
          </li>
          <li>ასაკი : 32</li>
          <li>დაგვემატა : 22/03/2018</li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            name lastName
          </h5>
          <div class="row">
            <div class="col-md-4">
              <div class="applicant-properties">
                <ul>
                  <li>Col md1</li>
                  <li>Col md1</li>
                  <li>Col md1</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="applicant-properties">
                <ul>
                  <li>Col-md-6</li>
                  <li>Col-md-6</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="applicant-properties">
                <ul>
                  <li>Col-md-6</li>
                  <li>Col-md-6</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="applicants-about-me">
          იყოს და Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ipsum libero blanditiis ad. Dolor cum exercitationem eaque illum
          similique modi iste?
          <a
            href="#"
            class="applicants-detailed-button btn-sm"
            role="button"
            aria-disabled="true"
            >დაწვრილებით</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
